body
{
  color: rgb(250, 248, 248)
  }


  div
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 100;
    color: rgb(243, 10, 10);
    text-align: center;
    background-color: rgb(235, 171, 52) ;
    height: 75px;
 }


a {
    color: rgb(247, 241, 244);
  }

  p {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12;
    text-align: justify;
  }

 #imagen
 {
     text-align: center;
 }

 #links
 {
      text-align: center;
        background-color: salmon;
        color: rgb(247, 245, 248);
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100px;
        width: 100%;
 }